<div class="container">
    <header>
        <h1>Todo Application<h1>
    </header>
    <section>
        <div class="row">
            <form name="newTodoForm" autofocus novalidate ng-submit="newTodoForm.$valid && main.addTodo()" class="col-sm-6">
                <input class="form-control" ng-model="main.latestTodo" name="latestTodo"
                   tooltip-placement="bottom" required="" 
                   uib-tooltip='Press enter key to add new todo..' 
                   placeholder="Enter todo.." tooltip-trigger="mouseenter"/>
            </form>
        </div>
        <hr/>
        <todo-list></todo-list>
    </section>
</div>