
<div class="row">
    <div>
        <b class="todo-title">To-do list ({{todoList.todos.length}} left)</b>
    </div>
    <div class="col-sm-offset-3 col-sm-6" align="center">
        <div class="btn-group">
            <label class="btn btn-primary" ng-repeat="tab in todoList.tabs" 
                ng-model="todoList.selectedTab" uib-btn-radio="tab"
                ng-change="todoList.filterTodoList()">
                    {{tab.description}}
            </label>
        </div>
    </div>
</div>

<hr/>
<div class="row">
    <ul class="todo-list">
        <li ng-repeat="item in todoList.todos">
            <todo-item item="item"></todo-item>
        </li>
    </ul>
    <div class="col-sm-offset-3 col-sm-6 alert alert-info" ng-if="!todoList.todos.length">
        No to-dos found with status '{{todoList.selectedTab.description}}'.
    </div>
</div>
<hr/>
<button class="btn btn-primary" ng-disabled="!todoList.todosCompleted" ng-click="todoList.clearCompleted()">Clear Completed</button>