<div class="form-group">
    <button class="btn btn-xs" 
       ng-class="{'btn-success': todoItem.item.completed}"
       ng-click="todoItem.todoList.toggleCompleted(todoItem.item)"
       uib-tooltip="{{todoItem.item.completed ? 'Unmark': 'Mark'}} as completed">
        <i class="glyphicon glyphicon-ok"></i>
    </button>
    <input class="form-control todo-item-input" ng-model="todoItem.item.description" ng-disabled="todoItem.item.completed"/>
    <button class="btn btn-xs btn-danger" 
       ng-click="todoItem.todoList.removeTodo(todoItem.item)"
       uib-tooltip="Remove todo from list.">
        <i class="glyphicon glyphicon-trash"></i>
    </button>
</div>